*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}



body{
    background-color: #020A18 !important;
    min-height: 100vh;
    width: 100vw;
    max-width: 2560px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.padding{
    padding: 0 6% 0 6%;
}



/*===================== NAVBAR =====================*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
.navbar .left{
    display: flex;
    align-items: center;
}
.navbar .left a{
    color: #3A68B8;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22.5455px;
    line-height: 31px;
    margin-left: 15px;
}
.navbar .menu{
    width: 60%;
    z-index: 999999999999999;
}
.navbar .menu .menu-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .left-content ul{
    display: flex;
    align-items: center;
}
.navbar .left-content ul li{
    display: inline-block;
    margin-right: 8%;
}
.navbar .left-content ul li a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    transition: .75s;
}
.navbar .left-content ul li a:hover{
    color: #3A68B8;
}
.navbar ul li a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
.navbar .menu button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    border: 1px solid #3A68B8;
    outline: 0;
    padding: 15px 30px;
    gap: 10px;
    background: #3A68B8;
    border-radius: 5px;
    transition: .75s;
}
.navbar .menu button:hover{
    color: #3A68B8;
    background-color: transparent;
}
.menu-icon{
    display: none;
    z-index: 99999999999999999;
}





/*===================== HOME =====================*/
.Home,
.finish{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 80px;
}
.Home .columb,
.finish .columb{
    width: calc(49% - 10px);
}
.Home .left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Home .top a{
    color: #3A68B8;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 10px;
}
.Home h1,
.about .right h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 40px;
}
.Home .desc, 
.about .right .desc,
.finish .left .desc{
    color: #FFFFFF;
    opacity: 0.7;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    width: 70%;
    margin-bottom: 50px;
}
.Home .btn-group{
    display: flex;
    align-items: center;
}
.Home button,
.about .right button{
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    padding-left: 30px;
    height: 57px;
    padding-right: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    background-color: #3A68B8;
    border-radius: 5px;
    margin-right: 20px;
    outline: 0;
    border: 1px solid #3A68B8;
    transition: .75s;
}
.Home button:hover,
.about .right button:hover{
    background-color: transparent;
    color: #3A68B8;
}
.Home .right img{
    width: 95%;
    height: 100%;
}
/*===================== SPONSORS =====================*/
.sponsors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.sponsors .col{
    width: calc(25% - 10px);
    margin-bottom: 30px;
}
.sponsors .col img{
    width: 80%;
    cursor: pointer;
}
/*===================== ABOUT =====================*/

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .columb{
    width: calc(45% - 10px);
}
.about .columb img,
.finish .columb img{
    width: 100%;
    margin-bottom: 50px;
}
.about .right h1,
.finish .left h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #fff;
    width: 80%;
}
/*===================== CAROUSEL =====================*/
.owl-carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.owl-carousel .carousel-card{
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.094) -41.9%, #ffffff1f 115.68%);
    backdrop-filter: blur(100px);
    margin: 25px 10px;
    display: flex;
    width: calc(20% - 30px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.owl-carousel .carousel-card h2{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    opacity: 0.7;
    margin-top: 30px;
    margin-bottom: 30px;
}
.owl-carousel .carousel-card p{
    opacity: 0.7;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
}

/*===================== FINISH =====================*/
.finish .left h1{
    margin-bottom: 40px;
}
.finish .left .desc{
    margin-bottom: 20px;
    width: 100%;
}
/*===================== FOOTER =====================*/
footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
footer .logo h1 a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15.9627px;
    line-height: 22px;
    color: #3A68B8;
}
footer .columb{
    width: calc(20% - 1px);
    margin-bottom: 45px;
}
footer .columb .desc{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.6;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 17px;
}
footer .columb .media{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-top: 20px;
}
footer .columb .media img{
    margin-right: 10px;
}
footer .columb .media .f-num{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}
footer .columb h2{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 12px;
    margin-top: 27px;
}

footer .columb .li{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    opacity: 0.6;
    margin-top: 20px;
    cursor: pointer;
}
footer .columb h3{
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #fff;
}
footer .columb .media-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .columb .media-group img{
    cursor: pointer;
}
footer .columb .lang{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
footer .columb .lang select{
    background-color: transparent;
    border: 0;
    color: #FFFFFF;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    margin-left: 10px;
}

footer .columb .lang option{
    color: #020A18;
}


/*===================== RESPONSIVES =====================*/

@media(max-width: 1600px){
    .owl-carousel .carousel-card{
        width: calc(25% - 20px);
    }    
}
@media(max-width: 1440px){
    .owl-carousel .carousel-card{
        width: calc(33% - 20px);
    }    
}
@media(max-width: 1100px){
    .Home h1{
        font-size: 45px;
    }
    .Home button{
        padding-left: 20px;
        padding-right: 20px;
    }
    .owl-carousel .carousel-card{
        width: calc(50% - 20px);
    }    

    
.sponsors .col{
    width: calc(30% - 10px);
}

        
.about .right h1{
    width: 100%;
}
footer .columb{
    width: calc(25% - 1px);
    margin-bottom: 45px;
}
}




@media(max-width: 900px){
    .Home h1{
        font-size: 40px;
    }
    .navbar .menu{
        position: fixed;
        display: flex;
        justify-content: flex-start;
        top: 25%;
        right: -700px;
        padding: 100px 4%;
        background-color: #0d3985;
        width: 300px;
        max-height: 800px;
        height: 60%;
        min-height: 400px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        transition: .75s;
    }
    .navbar .menu.active{
        right: 0;
    }
    .navbar .menu .menu-content{
        display: flex;
        flex-direction: column;
    }
    .navbar .left-content ul{
        display: block;
    }

    .navbar .left-content ul li{
        display: block;
        margin-bottom: 8px;
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 34px;
        right: 34px;
        cursor: pointer;
    }
    .sponsors{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }
    .sponsors .col{
        width: calc(40% - 20px);
    }
    footer .columb{
        width: calc(33% - 1px);
        margin-bottom: 45px;
    }
}
@media(max-width: 768px){
    .sponsors .col{
        width: calc(55%);
        justify-self: center;
    }
    .sponsors{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }
    .sponsors .col img{
        width: 80%;
    }
    .about,
    .finish{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .about .columb,
    .finish .columb{
        width: calc(80%);
    }
    .Home{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 60px;
    }
    .Home .left{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Home .desc{
        width: 100%;
    }
    .Home .right{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Home .right img{
        width: 80%;
        height: auto;
    }
    .Home{
        display: flex;
        justify-content: center;
    }
    .Home .columb{
        width: calc(70%);
        margin-bottom: 50px;
    }
    .Home .desc, 
    .about .right .desc{
        width: calc(100%);
    }
    .owl-carousel .carousel-card{
        width: calc(70%);
    }  
    footer .columb{
        width: calc(50% - 1px);
        margin-bottom: 45px;
    }
}
@media(max-width: 400px){
    
    .navbar .menu{
        top: 0;
        right: -700px;
        padding: 125px 20%;
        background-color: #0d3985;
        width: 100%;
        height: 100%;
        transition: .75s;
        border-radius: 0;
    }
    .owl-carousel .carousel-card{
        width: calc(100%);
    }  
    footer .columb{
        width: calc(70%);
        margin-bottom: 45px;
    }
}